<h1>
    Welcome , {{ user.username }}
</h1>
<p>Current Balance:</p>
<p name="balance">{{ w.current_balance }}</p>

<h2>Add Money</h2>
<form method="POST" action="{% url 'deposit' %}">
    {% csrf_token %}
    <p>Amount to deposit:  {{ deposit.dep_amt }}</p>

    <p><input type="submit" value="Deposit"></p>
    <input type="hidden" name="next" value="{{ next }}">
</form>


<h2>Withdraw Money</h2>
<form method="POST" action="{% url 'withdraw' %}">
    {% csrf_token %}
    <p>Amount to withdraw:  {{ withdraw.wit_amt }}</p>

    <p><input type="submit" value="Withdraw"></p>
    <input type="hidden" name="next" value="{{ next }}">
</form>

<h2>Transfer Money</h2>
<form method="POST" action="{% url 'transfer' %}">
    {% csrf_token %}
    <p>Amount to transfer:  {{ transfer.trans_amt }}</p>
    <p>Username of person to transfer to:  {{ transfer.recipient }}</p>

    <p><input type="submit" value="Transfer"></p>
    <input type="hidden" name="next" value="{{ next }}">
</form>


<p><a href="{% url "logout" %}?next=/">Logout</a></p>

